version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - .:/app
    environment:
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
